<!DOCTYPE html>
<html>
<head>
  {// 为页面中的所有相对链接指定默认地址}
  <base href="__layuiadmin__/../views/">
  <meta charset="utf-8">
  <title>{block name="title"}layuiAdmin std - 通用后台管理模板系统（iframe标准版）{/block}</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="__layuiadmin__/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="__layuiadmin__/style/admin.css" media="all">
  {block name="css"}{/block}
  <script>
      /^http(s*):\/\//.test(location.href) || alert('请先部署到 localhost 下再访问');
  </script>
  <!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
{block name="content"}Hello LayuiAdmin{/block}
<script src="__layuiadmin__/layui/layui.js"></script>
<script>
    layui.config({
        base: '__layuiadmin__/', //静态资源所在路径
        version: true, //一般用于更新模块缓存，默认不开启。设为 true 即让浏览器不缓存。也可以设为一个固定的值，如：201610
        debug: true //用于开启调试模式，默认 false，如果设为 true，则JS模块的节点会保留在页面
    }).extend({ //拓展一个模块别名
        index: 'lib/index', //主入口模块，会追加base到modules目录
        toolkit: '../js/toolkit'
    }).use(['index']);
</script>
{block name="js"}{/block}
</body>
</html>
