{extend name="common" /}

{block name="content"}
<link rel="stylesheet" href="__css__/msgbox.css">

<div id="app" v-cloak>
  <div class="container">
    <ul class="layim-msgbox">
      <block v-if="item.from" v-for="(item,index) in list" :key="index">
        <li>
          <a href="#" target="_blank">
            <img :src="item.userInfo.avatar" class="layui-circle layim-msgbox-avatar" alt="头像">
          </a>
          <p class="layim-msgbox-user">
            <a href="#" target="_blank">{{ item.userInfo.username || '' }}</a>
            <span>{{ item.time }}</span>
          </p>
          <p class="layim-msgbox-content">
            {{ item.content }}<span>{{ item.remark ? '附言: ' + item.remark : '' }}</span>
          </p>
          <p class="layim-msgbox-btn" v-if="item.status === 0">
            <button type="button" class="layui-btn layui-btn-small" @click="agree(item,$event)">同意</button>
            <button type="button" class="layui-btn layui-btn-small layui-btn-primary" @click="refuse(item,$event)">拒绝
            </button>
          </p>
        </li>
      </block>
      <block v-else>
        <li class="layim-msgbox-system">
          <p><em>系统：</em>{{ item.content }}<span>{{ item.time }}</span></p>
        </li>
      </block>
    </ul>
  </div>
</div>
{/block}

{block name="js"}
<script src="__js__/vue.min.js"></script>
<script>
    layui.use(['layim', 'toolkit', 'jquery'], function () {
        var toolkit = layui.toolkit,
            $ = layui.jquery;

        var app = new Vue({
            el: '#app',
            mounted() {
                this.getList();
            },
            data: {
                search: {
                    page: 1,
                    limit: 10
                },
                list: []
            },
            methods: {
                getList() {
                    var _this = this;
                    toolkit.request.get({
                        url: '/chat/msgbox',
                        data: _this.search
                    }, function (res) {
                        _this.list = res.data.list;
                    });
                },
                //同意
                agree(item, event) {
                    console.log($(event.target).parent().html('已同意'))
                    //加好友
                    if (item.type === 0) {
                        //好友分组面板
                        parent.layui.layim.setFriendGroup({
                            type: 'friend',
                            username: item.userInfo.username,//好友昵称，若申请加群，参数为：groupname
                            avatar: item.userInfo.avatar,//头像
                            group: parent.layui.layim.cache().friend,  //获取好友分组数据
                            submit: function (group, index) {
                                //同意后，将好友追加到主面板
                                toolkit.request.post({
                                    url: '/chat/agreeFriend',
                                    data: {
                                        id: item.id, //对方用户ID
                                        group: group //我设定的好友分组
                                    }
                                }, function (res) {
                                    //有好友或者群新增时 主面板同步添加的信息
                                    parent.layui.layim.addList({
                                        type: 'friend', //列表类型，只支持friend和group两种
                                        avatar: item.userInfo.avatar, //好友头像
                                        username: item.userInfo.account, //好友昵称
                                        groupid: group, //所在的分组id
                                        id: item.from,//好友ID
                                        sign: item.userInfo.signature //好友签名
                                    });
                                    parent.layer.close(index);
                                    $(event.target).parent().html('已同意');
                                });
                            }
                        });
                    }
                },
                //拒绝
                refuse(item, event) {
                    toolkit.msg.confirm('确定拒绝吗？', function (index) {
                        toolkit.request.post({
                            url: '/chat/refuseFriend',
                            data: {
                                id: item.id
                            }
                        }, function (res) {
                            toolkit.msg.close(index);
                            $(event.target).parent().html('<em>已拒绝</em>');
                        })
                    });
                }
            }
        });
    });
</script>
{/block}
